<div id="container-exp">
	<div id="trial">
		<div>
			<h1>Respond Quickly! What object is this in the black box?</h1>			
		</div>	
		
		<div>
			Required <span id="RequiredCount">8</span> clicks; remaining <span id="RemainCount">8</span> clicks; 
		</div>

        <div>	
			<p>Type ONLY one word:</p>	
			<center><input id="response" name="response" value="" required="" size="30" type="text" /></center>		  
        </div>	
        
        <br>
        <div>
        	<center>
	        	<button type="button" id="submittrial" value="submittrial" class="btn btn-primary btn-lg">
		                Submit <span class="glyphicon glyphicon-arrow-right"></span>
		        </button>
	        </center>
	    </div>

		<div class="row", style="position: relative;">
			<div id="canvas-container">		
					<canvas id="canvas0" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 9;"></canvas>    
	                <canvas id="canvas" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 8;"></canvas>	                
	                <canvas id="canvas2" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 7;"></canvas>	                
	                <canvas id="canvas3" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 6;"></canvas>	                
	                <canvas id="canvas4" width="1280" height="1024" style="position: absolute; top: 15px; left:100px; z-index: 5;"></canvas>	                
	                <canvas id="canvas5" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 4;"></canvas>	                
	                <canvas id="canvas6" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 3;"></canvas>	                
	                <canvas id="canvas7" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 2;"></canvas>	                
	                <canvas id="canvas8" width="1280" height="1024" style="position: absolute; top: 15px; left: 100px; z-index: 1;"></canvas>
	        </div>		
        </div>	

        

    	<div id="demo"></div>
	</div>
</div>