<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Use mouse clicks to explore the image and use ONLY one word to describe what is in the black box on the image. Type in your response in the text box. It must be ONLY ONE word, a noun. After this, click "SUBMIT" to go to the next image. 

        </p>

    <p>
    <STRONG>NOTE1: Below is a sample trial. In this example, you are required to have 4 clicks on the image before you type in the answer in the text box. The number of required mouse clicks is indicated in the text above the text box. Once there is one click, the click counter will keep track and the remaining number of clicks will be decreased by 1. Continue to click until there is 0 click remaining. Based on what you see on the image, type in the correct answer out of many in the text box. In this example, the correct answer is "firehydrant" as indicated in the text box. </STRONG>
    </p>

    <p>
    <STRONG>NOTE2: Make sure you are typing in one word. The word must be a noun. The word must be in singualr form NOT plural form. The word must NOT have spaces or special characters. Violations of these rules will result in NO pay for that image.</STRONG>
    </p>
    

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>    

	</div>      
    <br>

    <div class="container">
        <div class="row">
          <div class="span4"></div>
            <div class="span4"><img class="center-block" src="static/data/s3.png" alt="stimuli" style="width:65%"/></div>
          <div class="span4"></div>
        </div>
    </div>
   
    <div class="instructionsnav">        
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg pull-right continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
    

	<hr />
    
</div>
